<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Background Task Update</title>
</head>
<body>
    <h1>Background Task Update</h1>
    <div id="output"></div>
    <script>
        const eventSource = new EventSource('/stream');
        const outputDiv = document.getElementById('output');

        eventSource.onmessage = function(event) {
            outputDiv.innerHTML += event.data + '<br>';
        };

        eventSource.onerror = function(event) {
            console.error("EventSource failed:", event);
            eventSource.close();
        };
    </script>
</body>
</html>
